@model List<Team>
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Team</li>
                </ol>
                <h2>Team</h2>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="row">

                    @foreach (var team in Model)
                    {
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <img src="~/assets/img/team/@team.ImgPath" alt="">
                                <h4>@team.Name</h4>
                                <span>@team.Position</span>
                                <p>
                                   @team.Description
                                </p>
                                <div class="social">

                                    @for (int i = 0; i < team.TeamIcons.Count; i++)
                                    {
                                        <a href=""><i class="@team.TeamIcons[i].Icon"></i></a>
                                    }
                                </div>
                            </div>
                        </div>

                    }
                </div>

            </div>
        </section><!-- End Team Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

       
    